.infoBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.todaysBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card{
	width: 400px;
	height: 400px;
}

.todayCard{
	width: 200px;
	height: 200px;
}
